h1
{
    color:rgb(209, 122, 51);
    text-align: center;
}

p
{
    color:blue;
}

body
{
    background-color:#f1e8ef;
}
button{
    background-color:rgb(56,30,20);
    color:white;
    border: 2px solid rgb(141, 141, 211);
}