/* Reset default margin and padding */
* {
    margin: 5;
    padding: 8;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #a58e8e;
}

/* Header */
header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background: #555;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effect */
nav ul li a:hover {
    color: yellow;
}

/* Main Content */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}